*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

p{
    height: 100px;
    width: 700px;
    background: rgba(0,0,0,0.5);
    
    color: white;
    line-height: 100px;
    text-align: center;
    font-size: 60px;
    box-shadow: 1px 1px 0px #000,   
    2px 2px 0px #000,
    3px 3px 0px #000,
    4px 4px 0px #000
    ;
}

.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 16px;
  }
  .heading {
    text-align: center;
    margin-bottom: 4em;
  }
  .heading h1 {
    text-shadow: var(--color-shadow);
    font-size: 6.2em;
    font-weight: 800;
    letter-spacing: 0.15em;
  }

  body {
    background: url(background-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
   
  }

  .wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 16px;
  }
  .heading {
    text-align: center;
    margin-bottom: 4em;
  }
  .heading h1 {
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    font-size: 6.2em;
    font-weight: 800;
    letter-spacing: 0.15em;
    color: white;
    padding-bottom: 5px;
  }
  .heading h3 {
    font-size: 1.6em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    padding: 8px 30px;
    display: inline-block;
    color: white;
    
  }

  #startButton{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color:rgba(0,0,0,0.5);;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 1px 1px 0px #000,   
    2px 2px 0px #000,
    3px 3px 0px #000,
    4px 4px 0px #000
    ;
    margin-top: 470px;
    margin-left: 65px;
    line-height: 50px;
    
    

    /* Makes the button slightly darker when hovered */
    &:hover {
        background-color: #0056b3;
    }

  }






